.item-reportar{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: space-between;
    padding-inline:2rem;
    width: 100%;
}

.item-reportar > p {
    display: block;
    color:black;
    flex-grow: 1;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 1rem;
    padding-inline: 1rem;
}