.lista-reportar{
    margin:1rem;
}

.item-reportar{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.item-reportar > p {
    display: block;
    color:black;
    flex-grow: 1;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 1rem;
}