
.cabecalho{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 1rem 1.5rem ;

}

.titulo{
    font-weight: 600;
    font-size: 1.2rem;
}

.corpo{
    display: flex;
    flex-direction: column;
    height: 75vh;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

#editar{
    position: absolute;
    top:20rem;
    left: 16rem;
}

.forms_perfil{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.container_inputs{
    display: flex;
    gap: 0.5rem;
}

#botoes{
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
}

.botao_perfil{
    text-decoration: none;
    text-align: center;
    padding: 0.7rem;
    border-radius: 2rem;
    color: var(--preto);
    text-transform: uppercase;
    width: 6rem;
}

.cancelar{
    border: 1px solid var(--preto);
}

.mudar{
    background-color: var(--azul);
    color: var(--branco);
}

.input_minhaconta{
    width: 100%;
    padding-left: 1rem;
    box-sizing: border-box;
    border-bottom: 2px solid #D9D9D9;
}