/*Imagem MENU */
.menu{
    width: 2rem;
    height: auto;
}

.titulo2{
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
    margin-bottom: 1.5rem;
}
.titulo3{
    font-size: 1.25rem;
    font-weight: bold;
    align-self: flex-start;
    margin: 4% 0%;
}

.titulo4{
    font-size: 1.25rem;
    font-weight: bold;
    align-self: flex-start;
    margin: 4% 0%;
}

.texto1{
    font-size: 0.95rem;
    width: 100%;
    align-self: flex-start;
    margin: 3% 0.5%;
    line-height: 1.2rem;
}

.Not_Col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 3% 4%;
}

li{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.Not_Lin{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.itemM {
    height: 100%;
    width: 40%;
}

.itemG {
    height: 6.66rem;
    width: 10rem;
}

.itemGG {
    height: 100%;
    width: 100%;
}


.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.absolute{
    position: relative;
}